<section class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About the Page</h2>
          <p>This page will tell you everything about you need to know about traveling!</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Cool Places</a></h4>
              <p>We will offer you travel programs that will lead you forgotten places of this planet!</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Fun</a></h4>
              <p>With us, you will have a lot of fun. The happiest and funniest moments of your live will be when you travel with us.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Good Vibes</a></h4>
              <p>Only the best vibes for you, guaranteed!!! Because you need to enjoy your life, and everything that comes with it.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Best Service</a></h4>
              <p>We are there for you! Trust us! With out service you can not be wronged. </p>
            </div>
          </div>

        </div>

      </div>
    </section>


    

