		
	<section class="about section-bg">
      <div class="container" data-aos="fade-up">


	<div class="section-title">
		<h1>Our Beautiful Travel Blog</h1>


	</div>


</div>





		<div id="pics">
				<img id="travel1" src="/assets/img/travel1.jpg">
				<img id="travel2" src="/assets/img/travel2.jpg">
				<img id="travel3" src="/assets/img/travel3.jpg">
			</div>

		<div id="pics">
				<img id="travel1" src="/assets/img/travel4.jpg">
				<img id="travel2" src="/assets/img/travel5.jpg">
				<img id="travel3" src="/assets/img/travel6.jpg">
			</div>


			<div id="pics">
				<img id="travel1" src="/assets/img/travel7.jpg">
				<img id="travel2" src="/assets/img/travel8.jpg">
				<img id="travel3" src="/assets/img/travel9.jpg">
			</div>


			</section>